<html>
    <head>
        <title>Choose Food</title>
        <link href="../css/main.css" rel="stylesheet" type="text/css">
        <script href="querySearch.js" type="text/javascript"></script>
    </head>
    <body ng-app="ChooseFood" ng-controller="MainController">
        <h1>Hello, {{ user.name }}!</h1>
        <p>Please input your dining preferences in the form below :) </p>

    <div class="center">
      <form>

  <fieldset class="account-info-radio">
    <label>
      Travel Method <br>
      <input type="radio" name="isdriving" value=true checked> Drive
      <input type="radio" name="isdriving" value=false> Walk


    </label>
  </fieldset>

   <fieldset class="account-info">
    <label>
      Distance<br>
      <input type="text" name="distance" placeholder="Distance">

    </label>
  </fieldset>

  <fieldset class="account-info">
    <label>
      Price Level<br>
    <select name="pricelevel">
    <option value=1 selected>$</option>
    <option value=2>$$</option>
    <option value=3>$$$</option>
    <option value=4>$$$$</option>
  </select>
    </label>
  </fieldset>


    <fieldset class="account-info">
    <label>
      Wait time (minutes)<br>
      <input type="text" name="waittime" placeholder="Preferred wait time">
    </label>
  </fieldset>

  <fieldset class="account-action">
    <input class="btn" type="submit" name="submit" value="Go! Go! Go!!!">
  </fieldset>
</form>
      </div>

    </body>
</html>
