<html>
    <head>
        <title>Choose Food</title>
        <link href="../css/main.css" rel="stylesheet">
        <script src="../js/app.js" type="text/javascript"></script>
    </head>
    <body ng-app="ChooseFood" ng-controller="MainController">
        <h1>Welcome to ChooseFood</h1>
        <p>This app will help you decide where to eat based <br>
            on your input for distance, price range, etc. </p>
      <form ng-controller="MainController">
  <fieldset class="account-info">
    <label>
      Username:
      <input type="text" placeholder="Anonymous" ng-model="user.name">
    </label>
  </fieldset>
  <fieldset class="account-action">
    <!--<input class="btn" type="submit" name="submit" value="Login">
    <button onclick="/ChooseFood/public/views/search.html"; id = "login" class="float-left submit-button">Submit</button> -->
    <button id="Submit Button">Submit</button>
  </fieldset>
        </form>
    </body>
</html>
