<html>
    <head>
        <title>Choose Food</title>
        <link href="../css/main.css" rel="stylesheet">
        <script src="../js/app.js"></script>
    </head>
    <body>
        <h1>Welcome to ChooseFood</h1>
        <p>This app will help you decide where to eat based <br>
            on your input for distance, price range, etc. </p>
      <form>
  <fieldset class="account-info">
    <label>
      Username
      <input type="text" name="username" placeholder="Enter username here">
    </label>
  </fieldset>
  <fieldset class="account-action">
    <!--<input class="btn" type="submit" name="submit" value="Login">
    <button onclick="/ChooseFood/public/views/search.html"; id = "login" class="float-left submit-button">Submit</button> -->
    <button id="Submit Button" onclick="search()">Submit</button>
  </fieldset>
        </form>
    </body>
</html>
